/* Main Content *******************************/

.animationload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-image: url("../img/loader.gif");
    background-position: center;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    width: 100%;
    background: url(../img/ancient_ruins_by_jambi20-d70t41f.jpg) no-repeat;
    background-size: cover;
    cursor: url(lol11.png), default !important;
    overflow-y: hidden;
}
a:hover{
    cursor: url(lol22.png), default !important;
}
.nav-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    border-bottom: #4f5662 1px solid;
    cursor: url(lol2.png);
    transition: top 0.3s;
    position: fixed;
    top: -122px;
}

#main-nav.scroll-nav{
    top: -22px;
    width: 100%;
}

.nav-area a img{
    position: absolute;
    left: 30px;
    display: inline-block;
    float: left;
    top: 10px;
    height: 70px;
    width: auto;
}

.nav-area ul{
    padding-top: 10px;
    text-align: center;
}

.nav-area ul li{
    display:inline-block;
    padding:25px 20px;
}

.nav-area ul li a{
    font-family: "trajan-pro-3-600",serif;
    text-shadow: 0 1px 1px #000;
    margin: 0px;
    color: #C0C0C0;
    font-size:18px;
    text-decoration:none;
}

.nav-area ul li a:hover, #main-section #main-nav ul li a:active{
    color:#fff;
}

#nav-ornament{
    background: url('../img/img_top_nav_symbol.png') 50% 0 transparent no-repeat;
    cursor: url(lol22.png), default !important;
    width: 270px;
    height: 75px;
    display: block;
    position: absolute;
    top: 94px;
    margin-left: 50%;
    left: -135px;
}

#nav-ornament:hover{
    background-position: 50% 100%;
}

#nav-ornament.scroll-nav{
    position:fixed;
    top:-30px;
}


#main-section {
    min-height: 90%;
}

.error_msg {
    font-family: "trajan-pro-3-600",serif;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    margin: 0px;
    color: #C0C0C0;
    font-size:18px;
    margin-top:-27%;
}

.coming_soon {
    font-family: "trajan-pro-3-600",serif;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    margin: 0px;
    color: #C0C0C0;
    font-size:18px;
    margin-top:-25%;
}