/* Start media ( max = 468px ) */
@media (max-width: 468px) {

    .title {
        margin-bottom: 35px;
    }

    .cat_and_mouse {
        width: 265px;
        height: 140px;
        margin: 40px auto -20px;
    }
    .cat_and_mouse .cat {
        width: 133px;
        height: 95px;
    }
    .cat_and_mouse .cat_leg {
        width: 16px;
        height: 16px;
        top: 82px;
        left: 36px;
    }
    .cat_and_mouse .cat_leg_front {
        width: 15px;
        height: 15px;
        top: 83px;
        left: 23px;
    }
    .cat_and_mouse .cat_ahead {
        left: 77px;
    }
    .cat_and_mouse .cat_ahead_front {
        left: 66px;
    }
    .cat .shadow {
        width: 126px;
        height: 20px;
        top: 87px;
        left: 6px;
    }
    .cat_and_mouse .mouse {
        width: 126px;
        height: 41px;
        right: 0px;
        top: 57px;
    }
    .mouse .shadow {
        width: 91px;
        height: 20px;
        top: 29px;
        left: 31px;
    }
    .cat_and_mouse .mouse_leg {
        width: 12px;
        height: 12px;
        top: 86px;
        right: 57px;
    }
    .cat_and_mouse .mouse_leg_front {
        width: 12px;
        height: 12px;
        top: 86px;
        right: 66px;
    }
    .cat_and_mouse .mouse_ahead {
        right: 31px;
    }
    .cat_and_mouse .mouse_ahead_front {
        right: 42px;
    }

    /* -------- Watch -------- */
    #watch .dash span.dash_title {
        text-align: left;
    }

    #watch .dash {
        width: 70px;
        padding: 0px 8px 0px;
        height: 79px;
        line-height: 62px;
        margin: 0px -2px;
    }

    #watch .dash:last-child {
        padding: 0px 0px 0px 8px;
    }

    #watch .dash .digit {
        font-size: 36px;
        line-height: 56px;
        height: 44px;
        width: 20px;
    }

}